h1 {
  font-size: 60px;
  font-family: "Londrina Solid", cursive;
  text-align: center;
  background-size: cover;
  margin: auto;
  line-height: 200px;
  height: 200px;
  background: url("https://media.timeout.com/images/103437500/image.jpg");
  }
ul {
  padding: 10px;
  background: rgba(0,0,0,1);
  text-align: center;
  margin: 0 auto;
}
li {
      display: inline;
      padding: 0px 10px 0px 10px;
      margin: 0 auto;
    }

    a {
      color: white;
    }
body {
font-family: helvetica, sans-serif;
margin: 0 auto;
}

h2 {
  font-size: 50px;
  font-family: "Londrina Solid", cursive;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
}
input {
    border: 0;
    margin-left: 550px;
    font-size: 18px;
    margin-top: 10px;
  }

  input[type="submit"] {
    color: white;
    background: green;
    margin-left: 0;
    margin-top: 10px;
  }

  p[type="mailing"] {
    color: white;
    background: black;
  }
  .navbar {
      overflow: hidden;
      position: fixed;
      bottom: 0;
      width: 100%;
      max-height: 40px;
      border-radius: 0px;
      background: black;
      margin-left: 0px;;
    }
    div {
      height: 300px;
      background-size: cover;
      position: relative;
      margin: 30px 0 0 0;
      border-radius: 12px;
      justify-content: center;
      margin-left: 350px;
    }
